.App {
  text-align: center;
}
.link{
  padding-left: 10px;
}
.mail{
 position: absolute;
 top: 50px;
 left:60px;
}
.composeForm{
  width: 50%;
  border: 1px solid #404040;
  border-top: #404040;
  position: absolute;
  right: 20px;
  bottom: 5vh;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
.newMessage{
  width: 100%;
  background-color: #404040;
  color: #fefefe;
  text-align: left;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.sentBtn{
 margin-top: 20px;
background-color: #1976d2;
}
.deleteIcon{
  margin-right: 0px;
}
@media only screen and (max-width:430px){
  .composeForm{
    width: 75%;
  }
}